![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [31]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [32]:
#Developed by: Esthefania Ortega
#Date: 26/Aug/2025

#Best schools for math
best_math_schools = schools[["school_name","average_math"]]
best_math_schools = best_math_schools.loc[best_math_schools["average_math"] >= (0.8*800)].sort_values("average_math", ascending = False)

#Top 10 schools based on total SAT grades
top_10_schools =  schools[["school_name"]]
top_10_schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

top_10_schools = top_10_schools.sort_values("total_SAT", ascending = False).head(10)

#Borough with largest standard deviation in total SAT score
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
largest_std_dev = schools.groupby("borough")["total_SAT"].agg(num_schools="count", average_SAT = "mean", std_SAT = "std").round(2)
largest_std_dev = largest_std_dev[largest_std_dev["std_SAT"] == largest_std_dev["std_SAT"].max()]
largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29